name: CLA Assistant
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write

jobs:
  cla:
    runs-on: ubuntu-latest
    steps:
      - name: CLA Assistant
        if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request_target'
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path-to-signatures: 'signatures/cla.json'
          path-to-document: 'https://github.com/mindfulent/slashAI/blob/main/CLA.md'
          branch: 'main'
          allowlist: dependabot[bot],github-actions[bot]
          custom-notsigned-prcomment: |
            Thanks for your contribution! Before we can merge, please read and sign
            our [Contributor License Agreement](https://github.com/mindfulent/slashAI/blob/main/CLA.md).

            Sign by commenting: `I have read the CLA Document and I hereby sign the CLA`
          custom-pr-sign-comment: 'I have read the CLA Document and I hereby sign the CLA'
